<div class="d2">

  <img class="logo" src="assets/logo-white.png">

  <p class="h1">2024 Kicks Corner<br> All Rights Reserved !</p>

  <div style="opacity:0.6;display: block;width: 1.5px;height: 100%;background-color: lightgray;margin-bottom: 40px"></div>
  <p class="p1">TERMENI SI CONDITII <br> POLITICA DE RETUR <br> CONTACT <br> POLITICA DE COOKIE</p>

  <div style="opacity:0.6;display: block;width: 1.5px;height: 100%;background-color: lightgray;margin-bottom: 40px"></div>
  <p class="p1">CLUJ-NAPOCA, ROMANIA <br> PROGRAM DE LUCR <br> CONTACT <br> POLITICA DE COOKIE</p>

  <img class="logo2" src="assets/logo-white.png">


</div>

