<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           [src]="appConfig.getAppLogo()"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onHome()">
      <mat-card-content>
        <p>Home</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>

  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="grey">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{ appConfig.getAppName() }}</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>

<div style="width: 100%">

    <mat-form-field >
      <mat-label>Sorteaza produsele</mat-label>
      <mat-select  [(ngModel)]="selectedGenre">
        <mat-option value="BARBATI">Pentru el</mat-option>
        <mat-option value="FEMEI">Pentru ea</mat-option>
        <mat-option value="ALL">Pentru toti</mat-option>
      </mat-select>
    </mat-form-field>

  <button (click)="onGenre(selectedGenre)">Submit</button>
</div>


    <app-list-products [isAdmin]="false"></app-list-products>



    <div style="display:flex ; width:100%" class="div-landing">
      <app-carousel class="p2"> </app-carousel>
    </div>


<app-footer></app-footer>
  </div>



</mat-drawer-container>




