.drawer-container {
  width: 100%;
  height: 100%;
}

.drawer-sidenav-content {
  width: 100%;
  height: 100%;
}

.drawer-sidenav {
  padding: 20px;
}

.card-menu-button {
  width: 350px;
  margin-bottom: 16px;
}

.div-logo {
  width: 100%;
  display: flex;
}
.img-logo{
  height: 200px;
  margin: auto;
}
.img-banner{
  width: 30%;
  margin: 16px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.card-about-us {
  margin: 16px;
}

.title-about-us {
  margin: 16px;
}

.text-about-us {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
}

.text-margin-top {
  margin-top: 16px;
}

.div-text {
  display: flex;
}

.img-section {
  width: 350px;
  margin-left: 16px;
  border-radius: 16px;
}
.p2{
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.routes{
  height: auto;
  width: calc(20% - 20px);
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  color: darkgray;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.routes-div{
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*grid-template-columns: repeat(4,1fr);*/
  gap: 5px;
  width: 95%;
  /*flex-wrap: wrap;*/
  margin:10px;
  padding: 20px;
}
.social-icons{
  height: 150px;

}

