
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           [src]="appConfig.getAppLogo()"/>
    </div>

    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onShop()">
      <mat-card-content>
        <p>Shop</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>

  </mat-drawer>

<!--  -->

  <div class="drawer-sidenav-content">

    <mat-toolbar style="height: 100px" color="grey">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <img style="height: 100%" src="assets/logo-no-background.png">
      <span class="example-spacer"></span>

      <span>{{ appConfig.getAppName() }}</span>

      <span class="example-spacer"></span>




      <app-cart-button></app-cart-button>
    </mat-toolbar>

<!---->
      <div >

      </div>

      <div style="display:flex ; width:100%">
        <h1  class="h-landing">Bine ai venit pe {{ appConfig.getAppName() }}, magazinul online dedicat iubitorilor de sneakersi </h1>
      </div>

      <div >
        <mat-card class="card-about-us">
          <mat-card-title><h1 style="display:flex ; width:100%" class="title-about-us">Ce oferim?</h1></mat-card-title>

          <mat-card-content>
            <div class="div-text">
              <p class="p-landing">
                <br>
                - Papuci sport de top: Descoperă o selecție variată de adidași, pantofi de alergare, bascheți și alte modele sport, de la branduri renumite și de încredere.
                <br><br>
                - Accesorii pentru papuci: Îți oferim o gamă largă de șireturi personalizate, branțuri confortabile, și alte accesorii esențiale pentru a-ți optimiza performanța și confortul.
                <br> <br>
                - Calitate superioară: Fiecare produs este atent selecționat pentru a garanta durabilitate, confort și performanță la cele mai înalte standarde.
                <br> <br>
                - Stil și funcționalitate: La Kicks Corner, combinăm designul modern cu tehnologia avansată pentru a-ți oferi încălțămintea perfectă pentru antrenamente, competiții sau pur și simplu pentru un stil de viață activ.

              </p>
              <img class="img-section"
                   src="https://i.pinimg.com/736x/05/fc/b9/05fcb93d3b1bfdf2384a7f29c2eb21bd.jpg"/>
            </div>
          </mat-card-content>

        </mat-card>

        <mat-card class="card-about-us">
          <mat-card-title class="title-about-us">De ce să alegi Kicks Corner ?</mat-card-title>
          <mat-card-content>
            <div class="div-text">
              <img class="img-section" style="margin-left: 0px !important; margin-right: 16px"
                   src="https://images.unsplash.com/photo-1559479083-f3b234ad0d53?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8am9yZGFuJTIwc2hvZXxlbnwwfHwwfHx8MA%3D%3D">

              <p class="p-landing">
                - Garanția performanței: Ne asigurăm că fiecare papuc sport pe care îl oferim îți va susține și îmbunătăți performanțele, indiferent de sportul practicat.
                <br> <br>
                - Livrare rapidă și sigură: Beneficiezi de livrare rapidă și opțiuni variate de transport, pentru ca noua ta încălțăminte să ajungă la tine în cel mai scurt timp posibil.
                <br> <br>
                - Serviciu clienți dedicat: Echipa noastră prietenoasă și profesionistă este mereu pregătită să îți ofere suportul necesar, pentru ca experiența ta de cumpărături să fie cât mai plăcută.
                <br> <br>
                - Politica de returnare facilă: Cumpără fără griji, știind că poți returna produsele simplu și fără complicații dacă nu sunt pe placul tău.

              </p>
            </div>
          </mat-card-content>
        </mat-card>


        <mat-card style=" display:flex;width:100% ;object-fit: cover ;background-image: url('https://assets.gqindia.com/photos/620e52c018140d747a9b0a2a/16:9/w_2560%2Cc_limit/Lead-Image.jpg')" class="buttons">
          <mat-card-header style="margin-left:auto; margin-right:auto; font-family: 'Thasadith', sans-serif; font-size:36px;font-weight: 700;">Urmareste-ne pe social media</mat-card-header>

          <mat-card-content style="gap: 250px;margin:auto; display: grid;grid-template-columns: repeat(3,1fr);">
            <img class="social-icons" src="assets/insta.png" (click)="window.location.href='https://www.instagram.com'">
            <img class="social-icons" src="assets/fb.png" (click)="window.location.href='https://www.facebook.com'">
            <img class="social-icons" src="assets/x.png" (click)="window.location.href='https://www.x.com'">

          </mat-card-content>
        </mat-card>

        <div style="display:flex ; width:100%" class="div-landing">
          <app-carousel class="p2"> </app-carousel>
        </div>

      </div>
  </div>

</mat-drawer-container>




