.drawer-container {
  width: 100%;
  height: 100%;
}
.back{
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  width: 130px;
  height: 40px;
  color: black;
  left: +30px;
  background-color: whitesmoke;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.drawer-sidenav-content {

  height: 60px;
}

.drawer-sidenav {
  padding: 20px;
}

.card-menu-button {
  width: 350px;
  margin-bottom: 16px;
}

.div-logo {
  width: 100%;
  display: flex;
}
.img-logo{
  height: 200px;
  margin: auto;
}
.img-banner{
  width: 30%;
  margin: 16px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.card-about-us {
  margin: 16px;
}

.title-about-us {
  margin: 16px;
}

.text-about-us {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
}

.text-margin-top {
  margin-top: 16px;
}

.div-text {
  display: flex;
}

.img-section {
  width: 350px;
  margin-left: 16px;
  border-radius: 16px;
}
.card-item{
  background-color: whitesmoke;
  width: 95vw;
  height: inherit;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/

}
.image{
  width: 50vw;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 16px;
  padding-left: 150px;
  padding-right: 150px;
}
.page-view{
  display: flex;
  flex-wrap: wrap;
}
.div-controls{
  display: flex;
}
.btn-buy{
  margin-left: auto;
}
.div-admin-controls{
  display: grid;
}
.p-title{
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color:black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
.p-description{
  line-height: 1.5;
  font-size: 24px;
  font-weight: lighter;
}
.p-price{
  font-size: 25px;
  font-weight: bold;
}
.toolbar{
  background-color: whitesmoke;
  color: black;

}
.adauga{
  object-position: right;
}

