<mat-card class="card-container">
  <mat-card-content>
    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Product Title" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Product description" [formControl]="description" required></textarea>
        <mat-error *ngIf="description.invalid">{{getErrorMessage(description)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Price</mat-label>
        <input matInput placeholder="99.99 RON" [formControl]="price" required>
        <mat-error *ngIf="price.invalid">{{getErrorMessage(price)}}</mat-error>
      </mat-form-field>
    </div>


    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image URL" [formControl]="image1" required>
        <mat-error *ngIf="image1.invalid">{{getErrorMessage(image1)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image URL" [formControl]="image2" required>
        <mat-error *ngIf="image2.invalid">{{getErrorMessage(image2)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image URL" [formControl]="image3" required>
        <mat-error *ngIf="image3.invalid">{{getErrorMessage(image3)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Image</mat-label>
        <input matInput placeholder="Image URL" [formControl]="image4" required>
        <mat-error *ngIf="image4.invalid">{{getErrorMessage(image4)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Product Type</mat-label>

        <mat-select [formControl]="productCategory">
          <mat-option value="PAPUCI">Papuci</mat-option>
          <mat-option value="ACCESORII">Accesorii</mat-option>
        </mat-select>

        <mat-error *ngIf="productCategory.invalid">{{getErrorMessage(productCategory)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Product genre</mat-label>

        <mat-select [formControl]="productGenre">
          <mat-option value="BARBATI">Barbati</mat-option>
          <mat-option value="FEMEI">Femei</mat-option>
          <mat-option value="UNISEX">Unisex</mat-option>
        </mat-select>

        <mat-error *ngIf="productGenre.invalid">{{getErrorMessage(productCategory)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="input-field">
        <mat-label>Product size</mat-label>

        <mat-select [formControl]="productSize">
          <mat-option value="SIZE_39">39EUR</mat-option>
          <mat-option value="SIZE_40">40EUR</mat-option>
          <mat-option value="SIZE_41">41EUR</mat-option>
          <mat-option value="SIZE_42">42EUR</mat-option>
          <mat-option value="SIZE_43">43EUR</mat-option>
          <mat-option value="SIZE_44">44EUR</mat-option>
        </mat-select>

        <mat-error *ngIf="productSize.invalid">{{getErrorMessage(productSize)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="div-buttons-container">
      <button mat-raised-button style="background-color: whitesmoke; color: black " class="btn" (click)="onSave()">Save</button>
    </div>
  </mat-card-content>
</mat-card>

